@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    overflow-x: hidden;
}

body {
    scroll-behavior: smooth;
    width: 100%;    
    /*background-image: url("./img/5551.jpg");*/
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
p,
.display-6 {
    font-family: 'Montserrat', sans-serif;
}

.display-light {
    font-family: 'Montserrat', sans-serif;
}

/*.main-img{
    height: 25rem;
    width: 25rem;
}*/

.text-main {
    color: #694ea1;
}

.bg-main {
    background-color: #694ea1;
}

.bg-main:hover,
.bg-main:active,
.bg-main:focus {
    background-color: black;
}

.bg-light-main {
    background-color: white;
}

@media (max-width: 320px) {
    .display-4 {
        font-size: 2.7rem;
    }

    .fa.fa-github {
        display: none;
    }
}

@media (max-width: 270px) {
    .display-4 {
        font-size: 2rem;
    }

    .fa.fa-github {
        display: none;
    }
}


#team {
   font-size: 20px;
   font-weight: 400;
   /*color: #777;*/
   background-image: url("../img/bg1.png");
   background-size: cover;
}

#team .bg{
   
}

#team h1{
    font-size: 36px;
    color:#555;
    font-weight: bold;
}
#team h3{
    font-weight: bold;
    font-size: 24px;
    color: #333;
}
#team i{
     font-size: 15px;
     color: #555;
}
#team p{
    font-weight: 500;
}
#team-card{
    border-radius: 0;
    box-shadow: 5px 5px 15px red;
    transition: all .3 ease-in;
    -webkit-transition:  all .3 ease-in;
    -moz-transition: all .3 ease-in; 
}
#card-body{
    box-shadow: 5px 5px 3px #694ea1!important;
}


#team .card:hover{
    background: #694ea1;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9E9E9E;
}
#team .card:hover h3,#team .card:hover i{
    color: #fff;
}

.session{
    font-size: 1.5rem;
}

#technology h1{
    text-align: center;
    margin-top: 20px;
}

#technology .about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 1100px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px 0;
}
#technology .about-container .card{
  max-width: 300px;
  height: 215px;
  position: relative;
  margin-bottom: 100px;
  font-size: 20px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}
#technology .about-container .card:hover{
  height: 420px;
}
#technology .about-container .card .image-container{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
#technology .about-container .card .image-container img{
  max-width: 100%;
  border-radius: 4px;
}
#technology .about-container .card .con{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
#technology .about-container .card:hover  .con{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

@import url('https://fonts.googleapis.com/css?family=Oswald');

.oswald{
   font-family: 'Oswald', sans-serif;
}

#fac h4{
    font-size:2em;
    text-align: center;
    font-weight: bold;
    color: black;
}

#fac .card {
  width: 70%; 
  height: 200px;
  color:#D6D600;
}

#fac .card-img {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-position: center;
  background-size: cover;
  transition:all 0.3s ease-in-out;
  opacity:1;
}
#fac .card:hover .card-img,
#fac .card:focus .card-img {
  transform: scale(1.02);
  opacity:0.5;
}

#fac .card:hover .card-img-overlay{
    color:#730d0d;
}

#fac .card-img-overlay>h4, #fac .card-img-overlay>p{
    visibility:hidden;
}

#fac .card-img-overlay:hover h4, #fac .card-img-overlay:hover p{
    visibility: visible;
}

#fac .card:hover .card-img-overlay p{
    font-size:1.5em;
    letter-spacing:0.02em;
}

.footer{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: #e3edf7;
}
.footer h1 span{
    color:#694ea1
}
.social-media{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.social-media a{
    display: flex;
    background-color: #e3edf7;
    width: 75px;
    height: 75px;
    margin: 0 15px;
    border-radius: 8px;
    align-items:center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    transition: transform 0.5s;
}
.social-media a i{
    font-size: 35px;
    color: #777;
    transition: transform .5s;
}
.social-media a:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px rgba(255,255,255,1),
    0.5px 0.5px 0px rgba(0,0,0,0.15),
    0px 12px 10px -10px rgba(0,0,0,0.5);
    border:1px solid (0,0,0,0.1);
    transform: translateY(2px);
}
.social-media a:hover{
    transform: scale(0.9);
}
.social-media a:hover .fa-facebook{
   color:  #3b5698;
}
.social-media a:hover .fa-linkedin{
    color:  #00acee;
 }
 .social-media a:hover .fa-whatsapp{
    color:  #4fce5d;
 }
 .social-media a:hover .fa-instagram{
    color:  #c32aa3;
 }
 .social-media a:hover .fa-github{
    color:  rgba(0,0,0);
 }
 .wrapper{
    margin: 50px;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.spann{
    font-size: 2.5rem;
    text-align: center;
    padding:10px;
    color: #171717;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.3);
    position: relative;
    left: 50%;
}
.spann::before{
    content: '';
    animation: animate infinite 8s;
}
@keyframes animate{
    0%{
        content: 'We Innovate';
    }
    50%{
        content: 'We Create';
    }
    100%{
        content: 'We make it better';
    }
}
.faculty{
    text-align: center;
}
.faculty span{
    color: #694ea1;
}
.middle{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containers{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-family: "Open Sans", sans-serif;
}
.profile {
    position: relative;
    width: 80px;
    margin: 0 1em;
    height: 80px;
    border-radius: 50%;
    background-image: url("https://assets.codepen.io/4438974/internal/screenshots/pens/OJMEPMy.default.png?fit=cover&format=auto&ha=false&height=540&quality=75&v=2&version=1594353129&width=960");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
    transition: 0.2s;
  }
  .profile:hover {
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
  }

  #alumni h1{
    margin-top: 20px;
  }
  
  .content {
    position: absolute;
    bottom: 75px;
    padding: 20px;
    min-width: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.5s;
  }
  
  .content .header {
    display: flex;
    align-items: center;
  }
  .content .header img {
    grid-column: 1/2;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .content .header .infos {
    margin-left: 1em;
  }
  .content .header .infos .name {
    font-size: 1.25em;
    color: #333;
    letter-spacing: 1px;
    font-size: 600;
  }
  
  .content .header .infos .title {
    font-size: 0.9em;
    color: #969696;
    font-weight: 500;
  }
  
  .content .body {
    padding: 1em;
  }
  
  .content .body p {
    font-size: 0.95em;
    color: #272727;
  }
  
  .profile:hover .content {
    visibility: visible;
    opacity: 1;
    transform: translateX(-15%) translateY(0px);
  }
  
@media screen and (max-width:768px){
    .footer{
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
         background-color: #e3edf7;
    }
    .footer h1 span{
        color:#694ea1
    }
    .footer h1{
        font-size:1rem;
    }
    .social-media{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 5px;
    }
    .social-media a{
        display: flex;
        background-color: #e3edf7;
        width: 40px;
        height: 40px;
        margin: 0 7.5px;
        border-radius: 4px;
        align-items:center;
        justify-content: center;
        text-decoration: none;
        box-shadow: 3px 3px 15px -0.5px rgba(0,0,0,0.15),-3px -3px 15px -0.5px rgba(255,255,255,0.7);
        transition: transform 0.5s;
    }
    .social-media a i{
        font-size: 20px;
        color: #777;
        transition: transform .5s;
    }
    .social-media a:hover{
        box-shadow: inset 2px 2px 2px -0.5px rgba(0,0,0,0.2),
        inset -2px -2px 3px -0.5px rgba(255,255,255,0.7),
        -0.25px -0.25px 0px rgba(255,255,255,1),
        0.25px 0.25px 0px rgba(0,0,0,0.15),
        0px 6px 5px -5px rgba(0,0,0,0.5);
        border:0.5px solid (0,0,0,0.1);
        transform: translateY(1px);
    }
    .social-media a:hover{
        transform: scale(0.4);
    }
    .social-media a:hover .fa-facebook{
       color:  #3b5698;
    }
    .social-media a:hover .fa-linkedin{
        color:  #00acee;
     }
     .social-media a:hover .fa-whatsapp{
        color:  #4fce5d;
     }
     .social-media a:hover .fa-instagram{
        color:  #c32aa3;
     }
     .social-media a:hover .fa-github{
        color:  rgba(0,0,0);
     }
     .wrapper{
        margin: 25px;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .spann{
        font-size: 1.25rem;
        text-align: center;
        padding:5px;
        color: #171717;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        word-spacing: 0.25rem;
        font-weight: 250;
        text-shadow: 0 0.1rem 0.25rem rgba(0,0,0,0.3);
        position: relative;
        left: 50%;
    }
    .spann::before{
        content: '';
        animation: animate infinite 8s;
    }
    @keyframes animate{
        0%{
            content: 'We Innovate';
        }
        50%{
            content: 'We Create';
        }
        100%{
            content: 'We make it better';
        }
    }
    .middle{
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containers{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        font-family: "Open Sans", sans-serif;
    }
    .profile {
        position: relative;
        width: 59px;
        margin: 0 1em;
        height: 57px;
        border-radius: 50%;
        background-image: url("https://assets.codepen.io/4438974/internal/screenshots/pens/OJMEPMy.default.png?fit=cover&format=auto&ha=false&height=540&quality=75&v=2&version=1594353129&width=960");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
        transition: 0.2s;
      }
      .profile:hover {
        box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
      }
      
      .content {
        position: absolute;
        bottom: 45px;
        padding: 5px;
        min-width: 100px;
        background-color: #f9f9f9;
        border: 0.5px solid #ccc;
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: 0.5s;
      }
      
      .content .header {
        display: flex;
        align-items: center;
      }
      .content .header img {
        grid-column: 1/2;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        object-fit: cover;
      }
      
      .content .header .infos {
        margin-left: .3em;
      }
      .content .header .infos .name {
        font-size: 0.8em;
        color: #333;
        letter-spacing: 1px;
        font-size: 600;
      }
      
      .content .header .infos .title {
        font-size: 0.7em;
        color: #969696;
        font-weight: 200;
      }
      
      .content .body {
        padding: 0.5em;
      }
      
      .content .body p {
        font-size: 0.4em;
        color: #272727;
      }
      
      .profile:hover .content {
        visibility: visible;
        opacity: 1;
        transform: translateX(-15%) translateY(0px);
      }
      
}
@media screen and (max-width:568px){
    .profile{
    position: relative;
    width: 20px;
    margin: 0 5px;
    height: 20px;
    }
}