@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* use reset here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  /*font-family: 'Roboto', sans-serif;*/
  /*color: white;*/
  
}


.eventdiv{
  background-image: url("../img/bg7.svg");
  background-size: cover;

} 
/* .avatar{
  margin-top: 25px;
} */
/* 
.events h1{
  font-size: 36px;
  color:#555;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
} */

.slider {
  position: relative;
  overflow: hidden;
  height: 70vh;
  width: 50vw;
  left: 45%;
}

.slide img{
  height: 100%;
  width: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current{
  opacity: 1;
}

.slide .contents{
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255,255,255, 0.8);
  color: #333;
  /*padding: 30px;*/
}

.slide .contents h3{
  margin-bottom: 10px;
}

.slide.current .contents{
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#prev{
  position: absolute;
  top: 35%;
  left: 25%;
  color: black;
}

.buttons button#next{
  position: absolute;
  top: 35%;
  right: -75%;
  color: black;
}

.buttons button{
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover{
  background-color: rgba(0,0,0,0.8);
  color: white;
  height: 20vh;
  border-radius: 0 3px 3px 0;
}

/* add media queries  */
@media (max-width: 450px){
  .slide .contents{
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .events{
    background-image: none;
  }

  .slide.current .contents{
    transform: translateY(-300px)
  }
}



/* background images */
.slide:first-child{
  background: url('./images/img01.jpg') no-repeat center center/cover;
}
.slide:nth-child(2){
  background: url('./images/img02.jpg') no-repeat center top/cover;
}
.slide:nth-child(3){
  background: url('./images/img03.jpg') no-repeat center top/cover;
}
.slide:nth-child(4){
  background: url('./images/img04.jpg') no-repeat center top/cover;
}
.slide:nth-child(5){
  background: url('./images/img05.jpg') no-repeat center top/cover;
}
@media screen and (max-width: 568px){
   .eventdiv{
    background:none;
  
  }

}